extends layout

block content
  div(class="container")
    table
      thead
        tr
          th(class="text-left") List of available galleries
          th(class="text-center") Create
          th(class="text-center") Create
          th(class="text-center") HTML
      tbody
        each folder, i in folders
          - var newFolder = folder[0]
          - var update = folder[1]
          - var html = folder[2]
          tr
            td
              div(class="flex align-center")
                svg(class="icon small mr-10") 
                  use(xlink:href="#camera-icon")
                | #{newFolder}
            td(class="text-center")
              a(href="/name/" + newFolder class="button bg-blue") NEW
            td(class="text-center") 
              if update
                a(href="/update/" + newFolder class="button bg-orange") UPDATE
            td(class="text-center") 
              if html
                a(href='../html/' + newFolder + ".html" class="button bg-red" target="_blank") HTML

    div(class="info blue flex align-center box-shadow")
      svg(class="icon small mr-10") 
        use(xlink:href="#info-icon")
      | You can create json or update an existing.