extends layout

block content
  div.container-small
    div(class="ui container")
      table(class="ui unstackable teal selectable celled table")
        thead
          tr
            th(class="ten wide") List of available galleries
            th(class="three wide center aligned") Create
            th(class="three wide center aligned") Update
        tbody
          each folder, i in folders
            - var newFolder = folder[0]
            - var update = folder[1]
            tr
              td
                i(class="camera retro icon") 
                | #{newFolder}
              td(class="center aligned")
                a(href="/name/" + newFolder class="ui blue label") NEW
              td(class="center aligned") 
                if update
                  a(href="/update/" + newFolder class="ui orange label") UPDATE


      div(class="ui bottom attached info message")
        i(class="info icon")
        | You can create json or update an existing.