${features.map(image => `
<div class="ui grid">
  <div class="eleven wide column">
    <div class="ui fluid image">
      <div class="ui red ribbon label">${image.split('/')[4]}</div>
      <img class="fluid image" src="../${image}">
      <input type="hidden" name="imageName" value="${image.split('/')[4]}">
    </div>
  </div>
  <div class="five wide column">
    <div class="field">
      <label>alt to photo</label>
      <input type="text" name="imageAlt" placeholder="alt to photo">
    </div>
    <div class="field">
      <label>content under the photo</label>
      <textarea name="imageText" rows="4"></textarea>
    </div>
  </div>
</div>
`).join('')}