<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${title}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="./vendor/style.css">
</head>

<body>
  <div class="container-small">
    <div class="ui container center aligned">
      <div class="ui icon info message">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">${test}</div>
          <p><a href="/">HOME</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>