extends layout

block content
  div.container-small
    div(class="ui container center aligned")
      div(class="ui icon info message")
        i(class="info icon")
        div.content
          div.header #{text}
          p
            a(href="/") HOME