<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CMS json generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../vendor/flatpickr.min.css">
  <link rel="stylesheet" href="../vendor/zooom.min.css">
  <link rel="stylesheet" href="../vendor/style.css">
</head>

<body>
  <div class="ui container">
    <h1><a href="/"><i class="home orange icon"></i></a> ${title}</h1>
    <div class="date-time">file change date - ${data}</div>
    <form class="ui form" action="/" method="POST">
      <input type="hidden" name="folderName" value="${title}">
      <div class="required">
        <h4 class="ui dividing header">seo</h4>
        <div class="fields">
          <div class="eight wide field">
            <label>title head</label>
            <input type="text" name="seoTitle" placeholder="title" required>
          </div>
          <div class="eight wide field">
            <label>description head</label>
            <input type="text" name="seoDescription" placeholder="description" required>
          </div>
        </div>

        <h4 class="ui dividing header">data on the top of the site</h4>
        <div class="fields">
          <div class="eight wide field">
            <label>title H1</label>
            <input type="text" name="bodyTitle" placeholder="title" required>
          </div>
          <div class="eight wide field">
            <label>date</label>
            <input type="text" class="bodyDate" name="bodyDate" placeholder="Date" required>
          </div>
        </div>
        <div class="fields">
          <div class="sixteen wide field">
            <label>text</label>
            <textarea name="bodyText" rows="5" required></textarea>
          </div>
        </div>
      </div>

      <h2 class="ui dividing header"></i> list of photos <i class="red long arrow alternate right icon"></i>pcs.
        ${count}</h2>
      <div id="columns" class="ui list view-grid">
        ${partial}
      </div>
      <div class="save-json">
        <div class="ui container box-content">
          <button class="ui orange button">UPDATE JSON</button>
          <div class="ui grid-view-checked">
            <i class="th big icon icon-grid"></i> <span>grid off</span>
          </div>
          <a href="#" class="ui gray button scroll"><i class="chevron up icon"></i> TOP</a>
        </div>
      </div>
    </form>
  </div>
  <script>const fileJson = '${title}.json'; const type = '${type}';</script>
  <script src="../vendor/flatpickr.min.js"></script>
  <script src="../vendor/flatpickr.pl.js"></script>
  <script src="../vendor/zooom.min.js"></script>
  <script src="../vendor/sortable.min.js"></script>
  <script src="../vendor/smooth-scroll.js"></script>
  <script src="../vendor/main.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const example1 = document.getElementById('columns');
      const sortable = new Sortable(example1, {
        ghostClass: 'highlight',
        animation: 150,
      });

      const updateForm = (json) => {
        const { head, body } = json;
        const seoTitle = document.querySelector('[name="seoTitle"]');
        const seoDescription = document.querySelector('[name="seoDescription"]');
        const bodyTitle = document.querySelector('[name="bodyTitle"]');
        const bodyDate = document.querySelector('[name="bodyDate"]');
        const bodyText = document.querySelector('[name="bodyText"]');

        // seo
        seoTitle.value = head.title;
        seoDescription.value = head.description;

        // data on the top of the site
        bodyTitle.value = body.title;
        bodyDate.value = body.date;
        bodyText.value = body.text;

        body.items.forEach((element, index) => {
          // console.log(element);
          const image = document.querySelectorAll('[name="imageAlt"]');
          const imageText = document.querySelectorAll('[name="imageText"]');
          image[index].value = element.alt;
          imageText[index].value = element.text;
        });
      };


      const fetchJson = (fileJson) => {
        // eslint-disable-next-line no-undef
        fetch(fileJson)
          .then(response => response.json())
          .then((myJson) => {
            updateForm(myJson);
          })
          .catch(error => console.log('error', error));
      };

      if (type === 'update') {
        fetchJson(fileJson);
      }

      // grid change
      const gridCheckbox = document.querySelector('.grid-view-checked');
      const viewGrid = document.querySelector('.view-grid');
      const iconGrid = document.querySelector('.icon-grid');

      gridCheckbox.addEventListener('click', (e) => {
        viewGrid.classList.toggle('grid-view');
        iconGrid.classList.toggle('green');
        const { target } = e;
        target.innerText = target.innerText === 'GRID OFF' ? 'GRID ON' : 'GRID OFF';
      });

      // scroll
      const backToTop = document.querySelector('.scroll');
      (() => {
        window.addEventListener('scroll', () => {
          const pageyoffset = window.pageYOffset || document.documentElement.scrollTop;
          backToTop.style.display = pageyoffset > 200 ? 'block' : 'none';
        });
      })();


      const zoom = new Zooom({
        element: '.img-zoom',
        padding: 80,
        overlay: {
          color: '#000',
          opacity: '.5',
        },
      });

      const option = {
        speed: 100,
        easing: 'easeOutCubic',
      };
      const scroll = new SmoothScroll('.scroll', option);

      flatpickr('.bodyDate', {
        locale: 'pl',
        dateFormat: 'd.m.Y',
        allowInput: true
      });
    });
  </script>
</body>

</html>