<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CMS json generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../vendor/flatpickr.min.css">
  <link rel="stylesheet" href="../vendor/zooom.min.css">
  <link rel="stylesheet" href="../vendor/style.css">
</head>

<body>
  <div class="ui container">
    <h1><a href="/"><i class="home orange icon"></i></a> ${title}</h1>
    <div class="date-time">file change date - ${data}</div>
    <form class="ui form" action="/" method="POST">
      <input type="hidden" name="folderName" value="${title}">
      <div class="required">
        <h4 class="ui dividing header">seo</h4>
        <div class="fields">
          <div class="eight wide field">
            <label>title head</label>
            <input type="text" name="seoTitle" placeholder="title" required>
          </div>
          <div class="eight wide field">
            <label>description head</label>
            <input type="text" name="seoDescription" placeholder="description" required>
          </div>
        </div>

        <h4 class="ui dividing header">data on the top of the site</h4>
        <div class="fields">
          <div class="eight wide field">
            <label>title H1</label>
            <input type="text" name="bodyTitle" placeholder="title" required>
          </div>
          <div class="eight wide field">
            <label>date</label>
            <input type="text" class="bodyDate" name="bodyDate" placeholder="Date" required>
          </div>
        </div>
        <div class="fields">
          <div class="sixteen wide field">
            <label>text</label>
            <textarea name="bodyText" rows="5" required></textarea>
          </div>
        </div>
      </div>

      <h2 class="ui dividing header"></i> list of photos <i class="red long arrow alternate right icon"></i>pcs.
        ${count}</h2>
      <div id="columns" class="ui list view-grid">
        ${partial}
      </div>
      <div class="save-json">
        <div class="ui container box-content">
          <button class="ui orange button">UPDATE JSON</button>
          <div class="ui grid-view-checked">
            <i class="th big icon icon-grid"></i> <span>grid off</span>
          </div>
          <a href="#" class="ui gray button scroll"><i class="chevron up icon"></i> TOP</a>
        </div>
      </div>
    </form>
  </div>

  <script>const fileJson = '${ title }.json';</script>
  <script src="../vendor/flatpickr.min.js"></script>
  <script src="../vendor/flatpickr.pl.js"></script>
  <script src="../vendor/zooom.min.js"></script>
  <script src="../vendor/sortable.min.js"></script>
  <script src="../vendor/smooth-scroll.js"></script>
  <script src="../vendor/main.js"></script>
</body>

</html>