mixin icons()
  svg(xmlns="http://www.w3.org/2000/svg" style="display: none;")
    symbol(id="camera-icon" viewBox="0 0 28 28")
      path(d="M14.5 13c0-.281-.219-.5-.5-.5a2.507 2.507 0 00-2.5 2.5c0 .281.219.5.5.5s.5-.219.5-.5a1.5 1.5 0 011.5-1.5c.281 0 .5-.219.5-.5zm3.5 2.031c0 2.203-1.797 4-4 4s-4-1.797-4-4 1.797-4 4-4 4 1.797 4 4zM2 24h24v-2H2v2zm18-8.969c0-3.313-2.688-6-6-6s-6 2.688-6 6 2.688 6 6 6 6-2.688 6-6zM4 5h6V3H4v2zM2 8h24V4H13.062l-1 2H1.999v2zm26-4v20c0 1.109-.891 2-2 2H2c-1.109 0-2-.891-2-2V4c0-1.109.891-2 2-2h24c1.109 0 2 .891 2 2z")
    symbol(id="home-icon" viewBox="0 0 32 32")
      path(d="M32 18.451L16 6.031 0 18.451v-5.064L16 .967l16 12.42zM28 18v12h-8v-8h-8v8H4V18l12-9z")
    symbol(id="info-icon" viewBox="0 0 10 28")
      path(d="M10 21v2c0 .547-.453 1-1 1H1c-.547 0-1-.453-1-1v-2c0-.547.453-1 1-1h1v-6H1c-.547 0-1-.453-1-1v-2c0-.547.453-1 1-1h6c.547 0 1 .453 1 1v9h1c.547 0 1 .453 1 1zM8 3v3c0 .547-.453 1-1 1H3c-.547 0-1-.453-1-1V3c0-.547.453-1 1-1h4c.547 0 1 .453 1 1z")
    symbol(id="chevron-down-icon" viewBox="0 0 10 28")
      path(d="M26.297 12.625L14.703 24.203a.99.99 0 01-1.406 0L1.703 12.625a1.009 1.009 0 010-1.422l2.594-2.578a.99.99 0 011.406 0L14 16.922l8.297-8.297a.99.99 0 011.406 0l2.594 2.578a1.009 1.009 0 010 1.422z")
    symbol(id="chevron-left-icon" viewBox="0 0 21 28")
      path(d="M18.297 4.703L10 13l8.297 8.297a.99.99 0 010 1.406l-2.594 2.594a.99.99 0 01-1.406 0L2.703 13.703a.99.99 0 010-1.406L14.297.703a.99.99 0 011.406 0l2.594 2.594a.99.99 0 010 1.406z")
    symbol(id="chevron-right-icon" viewBox="0 0 19 28")
      path(d="M17.297 13.703L5.703 25.297a.99.99 0 01-1.406 0l-2.594-2.594a.99.99 0 010-1.406L10 13 1.703 4.703a.99.99 0 010-1.406L4.297.703a.99.99 0 011.406 0l11.594 11.594a.99.99 0 010 1.406z")
    symbol(id="chevron-up-icon" viewBox="0 0 28 28")
      path(d="M26.297 20.797l-2.594 2.578a.99.99 0 01-1.406 0L14 15.078l-8.297 8.297a.99.99 0 01-1.406 0l-2.594-2.578a1.009 1.009 0 010-1.422L13.297 7.797a.99.99 0 011.406 0l11.594 11.578a1.009 1.009 0 010 1.422z")
    symbol(id="long-arrow-left-icon" viewBox="0 0 29 28")
      path(d="M28 12.5v3c0 .281-.219.5-.5.5H8v3.5c0 .203-.109.375-.297.453s-.391.047-.547-.078l-6-5.469A.508.508 0 011 14.047c0-.141.063-.281.156-.375l6-5.531A.5.5 0 018 8.5V12h19.5c.281 0 .5.219.5.5z")
    symbol(id="long-arrow-right-icon" viewBox="0 0 27 28")
      path(d="M27 13.953a.549.549 0 01-.156.375l-6 5.531A.5.5 0 0120 19.5V16H.5a.494.494 0 01-.5-.5v-3c0-.281.219-.5.5-.5H20V8.5c0-.203.109-.375.297-.453s.391-.047.547.078l6 5.469a.508.508 0 01.156.359z")