mixin images()
  div(id="columns" class="ui list view-grid")
    each image, i in images
      - var imageFile = image.split('/')[3]
      div.item
        div(class="ui grid stackable box-item")
          div(class="eleven wide column image-section")
            div(class="ui fluid image")
              div(class="ui red ribbon label") #{imageFile}
              img(class="fluid image img-zoom" src="../" + image)
              input(type="hidden" name="imageName" value=imageFile)
          div(class="five wide column edit-section")
            div.field
              label alt to photo
              input(type="text" name="imageAlt" placeholder="alt to photo")
            div.field
              label content under the photo
              textarea(name="imageText" rows="4")